.hidden {
    display: none;
}

img,
ul {
    width: 90%;
    color: white;
}

ul {
    list-style: none;
}

li {
    padding: 0px 0 40px 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin: 0%;
    width: 100%;
    display: grid;
    font-size: 16px;
    background: url(body_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div {
    text-align: center;
    color: white;
}

figure {
    width: 150px;
}

figcaption {
    color: rgb(164, 164, 235);
}

p {
    width: 90%;
    text-align: center;
}